body {
  /*   color palette */
  --artichoke: #a3a380ff;
  --medium-champagne: #d6ce93ff;
  --beige: #efebceff; 
  --tumbleweed: #d8a48fff;
  --old-rose: #bb8588ff;
  --y-in-mn-blue: #355070ff; 
  --chinese-violet: #6d597aff;
  --cinnamon-satin: #b56576ff;
  --candy-pink: #e56b6fff; 
}

/* menu layout */

.menu-border {
  border: 2px solid black;
  outline: var(--artichoke) solid 10px;
  background-color: white;
  padding: 10px;
}

.mnu {
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
}

.menu ol { 
  counter-reset:menu;
}

  
  
/* main menu */

.menu {
  width:22vw;
  min-width:20ch;
  display:flex;
  flex-flow:column nowrap;
  font:bold 1.8rem/1 'IM Fell English SC', serif;
  position:relative;
}

.menu::before {content:"--";
  font-family: 'Gloria Hallelujah', cursive;
  align-self:center;
  margin-bottom:1rem;
}

.menu::after {
  content:"__";
  font-family: 'Gloria Hallelujah', cursive;
  align-self:center;
  margin-top:1rem;
}



/* menu items */

.menu-item a {
  display:flex;
  justify-content:flex-start; /*shrink towards text*/
  color:currentColor;
  text-decoration:none;
  padding:0.3rem 0; /* avoid flickin' */
  order:0;
  font-size: 20px;
}

.menu-item a::before { /* dots */
  content:"";
  display:block;
  border-bottom:1px dotted black;
  position:relative; top:-3px;
  flex:1 1 auto;
  margin:0 1rem;
  order:1;
}

.menu-item a::after { /* item ids */
  counter-increment:menu;
  content:counters(menu, ".");
  flex:0 0 auto;
  order:2;
  text-decoration:underline;
}



/* sub menu items */

.sub-menu {
  font-size:1.6rem;
  font-weight:normal;
}

.sub-menu > li > a {
  text-indent:0ch; /*
    Chrome indentS the "dots" elm, i.e. it counts pseudo-elm.
    FF and Edge indents first non pseudo-elm. 
    Turn it off for consistency.
  */
  padding:0.5rem 0 0.5rem 2ch;
  margin:0;
}



/* responsive web design AKA only have the cool animation stuff if you're not on mobile */

@media only screen and (min-width: 980px) {  
  /* main menu */
  
  .menu {
    width:22vw;
    min-width:20ch;
    display:flex;
    flex-flow:column nowrap;
    font:bold 1.8rem/1 'IM Fell English SC', serif;
    position:relative;
    transform:rotate(-30deg);
  }
  
  .menu::before {
    content:"/";
    font-family: 'Gloria Hallelujah', cursive;
    align-self:center;
    transform:rotate(30deg);
    margin-bottom:1rem;
  }
  
  .menu::after {
    content:"/";
    font-family: 'Gloria Hallelujah', cursive;
    align-self:center;
    transform:rotate(30deg);
    margin-top:1rem;
  }
  
  
  
  /* menu items */
  
  .menu-item a {
    display:flex;
    justify-content:flex-start; /*shrink towards text*/
    color:currentColor;
    text-decoration:none;
    padding:0.3rem 0; /* avoid flickin' */
    order:0;
    font-size: 20px;
  }
  
  .menu-item a::before { /* dots */
    content:"";
    display:block;
    border-bottom:1px dotted black;
    position:relative; top:-3px;
    flex:1 1 auto;
    margin:0 1rem;
    order:1;
  }
  
  .menu-item a::after { /* item ids */
    counter-increment:menu;
    content:counters(menu, ".");
    flex:0 0 auto;
    order:2;
    transform:rotate(30deg)scale(1.2);
    text-decoration:underline;
  }
  
  
  
  /* sub menu items */
  
  .sub-menu {
    font-size:1.6rem;
    font-weight:normal;
  }
  
  .sub-menu > li > a {
    text-indent:0ch; /*
      Chrome indentS the "dots" elm, i.e. it counts pseudo-elm.
      FF and Edge indents first non pseudo-elm. 
      Turn it off for consistency.
    */
    padding:0.5rem 0 0.5rem 2ch;
    margin:0;
  }
  
  
  
  /* animations */
  
  .menu { transition:transform 0.3s; }
  .menu:hover { transform:rotate(0); }
  
  .menu::before { transition:transform 0.5s; }
  .menu:hover::before { transform:rotate(0); content:"--"; }
  .menu::after { transition:transform 0.5s; }
  .menu:hover::after { transform:rotate(0); content:"__"; }
  
  .menu .menu-item a::after { transition:transform 0.3s }
  .menu:hover .menu-item a::after { transform:rotate(0) }
  
  .menu:hover > ol > .menu-item { opacity:0.3; }
  
  .menu-item:hover {
    transition:background-color 0.3s;
    background:rgba(216, 164, 143,0.15);
    opacity:1 !important;
  }
  
  .menu-item:hover a::after {
    text-decoration:none;
  }
  
  .menu-item:hover > a::before {
    transition:flex-grow 0.3s;
    width:0; flex-grow:0;
    transform-origin:center bottom;
  }
  
  
  
  /* collapse transform*/
  
  .sub-menu > .menu-item {
    max-height:1ch;
    transform:scaleY(0.1);
    transform-origin:center top;
    transition:transform 0.2s, max-height 0.5s;
  }
  
  .menu:hover .sub-menu .menu-item {
    max-height:10em;
    transform:scaleY(1);
  }
}