/* custom cursors */
html {
    cursor:url("../images/icons8-cursor-64_50.png"), auto;
}

a {
    cursor:url("../images/icons8-cursor-64_hand_50.png"), auto;
}

body {
  background-image: url("../images/grid_paper2_white.jpg");
  background-repeat: round;

  /*   color palette */
  --artichoke: #a3a380ff;
  --medium-champagne: #d6ce93ff;
  --beige: #efebceff; 
  --tumbleweed: #d8a48fff;
  --old-rose: #bb8588ff;
  --y-in-mn-blue: #355070ff; 
  --chinese-violet: #6d597aff;
  --cinnamon-satin: #b56576ff;
  --candy-pink: #e56b6fff; 
}



/* for specific elements */

.fixed-to-corner {
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;
}

.happiness-ticket {
  height: 170px;
  position: relative; 
  top: 20px; 
  padding: 0px; 
  z-index: 2;
  transform: rotate(20deg);
}

.away-from-margin-right {
  margin-right: 90px;
}

.clear-border {
  padding: 30px;
}

.overlap-bottom {
  position: relative;
  z-index: -1;
  top: -12px;
  left: -12px;
}

.overlap-top {
  z-index: 1;
  position: relative;
  top: 160px;
}

/* make the name of the site smaller on pages other than index.html */
.small-title-div {
  float:left; 
  margin-left: 100px;
}



/* text settings */

h1 {
  font-size: 30px;
  font-family: 'Righteous', cursive;
}

h2 {
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

p, li {
  font-family: 'Gloria Hallelujah', cursive;
}



/* change line style */
hr.credits-page {
  border-top: 2px dashed;
}



/* default polaroid images */

.default-gallery-pic {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-bottom: 60px solid white;
  border-top: 25px solid white;
}

.row {
  display: flex;
  padding: 15px;
  text-align: center;
}

.column {
  flex: 50%;
  padding: 15px;
  text-align: center;
}

.default-dropshadow {
  filter: drop-shadow(10px 10px 4px #E1B894);
}

.default-dropshadow-gallery {
  filter: drop-shadow(10px 10px 10px #E1B894);
}

.default-caption {
  color: black;
  font-weight: bold;
  position: relative;
  top: -60px;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0 0 -50px 0;
}



/* text on top of image */

.overlap-box{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}

.overlap-box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  width: 100%; /* Set the width of the positioned div */
}

.overlap-box .menu-text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;        
  text-align: center;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  background: rgba(239, 235, 206, 0.8);
  width: 60%; /* Set the width of the positioned div */
}



/* highlight when selecting text */

/* for common browsers */
::selection {
    background-color: rgba(216, 164, 143, 0.8);
    color: white;
}

/* for Mozilla based browsers */
::-moz-selection {
    background-color: rgba(216, 164, 143, 0.8);
    color: white;
}

/* for other browsers */
::-o-selection {
    background-color: rgba(216, 164, 143, 0.8);
    color: white;
}

::-ms-selection {
    background-color: rgba(216, 164, 143, 0.8);
    color: white;
}

/* For Webkit */
::-webkit-selection {
    background-color: rgba(216, 164, 143, 0.8);
    color: white;
}



/* responsive web design */

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

/* the zoom property has not yet been implemented for
Internet Explorer 10, 11 and Microsoft Edge */
@-ms-viewport {
  width: device-width ;
}

/* for screens that are 980 pixels or more, the screen will
be split in 2 with one side being the title and the other
side being the nav bar menu*/
@media only screen and (min-width: 980px) {
  .left {
    width: 48%; 
    float: left; 
  }
  
  .right {
    margin-left: 50%; 
  }
  
  .vertical {
    border-left: 2px solid black;
    height: 230%;
    position:absolute;
    left: 48%;
  }
}

@media only screen and (max-width: 850px) {
  /*   only highlight text when using mobile */
  .highlight-main-text {
    background:rgba(216, 164, 143,0.15);
    opacity:1 !important;
  }
}

@media only screen and (max-width: 1050px) {
  .hide-when-mobile {
    display: none;
  }
}