/* CSS HEX Colors*/
/* 
  --artichoke: #a3a380ff;
  --medium-champagne: #d6ce93ff;
  --beige: #efebceff; BG COLOR 2
  --tumbleweed: #d8a48fff;
  --old-rose: #bb8588ff;
  --y-in-mn-blue: #355070ff; BG COLOR 1
  --chinese-violet: #6d597aff;
  --cinnamon-satin: #b56576ff;
  --candy-pink: #e56b6fff; 
*/

html {
  /*   TODO: change cursor */
  /*   cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto; */
}

.clear-border {
  padding: 30px;
}

body {
  background-image: url("../images/grid_paper2_white.jpg");
  background-repeat: round;
}



/* text settings */

h1 {
  font-size: 30px;
  font-family: 'Righteous', cursive;
}

h2 {
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

p, li {
  font-family: 'Gloria Hallelujah', cursive;
}



/* polaroid images */

.gallery-pic {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-bottom: 60px solid white;
  border-top: 25px solid white;
}

.row {
  display: flex;
  padding: 15px;
  text-align: center;
}

.column {
  flex: 50%;
  padding: 15px;
  text-align: center;
}

.dropshadow {
  filter: drop-shadow(10px 10px 4px #E1B894);
}

.dropshadow-gallery {
  filter: drop-shadow(10px 10px 10px #E1B894);
}

.caption {
  color: black;
  font-weight: bold;
  position: relative;
  top: -60px;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0 0 -50px 0;
}



/* text on top of image */

.box{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}

.box .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;        
  text-align: center;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  background: rgba(239, 235, 206, 0.8);
  /*     color: #355070; */
  width: 60%; /* Set the width of the positioned div */
}



/* responsive web design */

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

/* the zoom property has not yet been implemented for
Internet Explorer 10, 11 and Microsoft Edge */
@-ms-viewport {
  width: device-width ;
}

/* for screens that are 320 pixels or less will be
put in this section */
@media screen and (max-width:320px) {
  
}

/* for screens that are 320 pixels or more, the screen will
be split in 2 with one side being the title and the other
side being the nav bar menu*/
@media only screen and (min-width: 850px) {
  /*   use this whenever testing is needed with this */
  /*
  body {
    background-image: url("../images/grid_paper1_pink.jpg");
  } */
  
  .left {
    width: 48%; 
    float: left; 
  /*   background: green; */
  }
  
  .right {
    margin-left: 50%; 
  /*   background: blue; */
  }
}

@media only screen and (max-width: 850px) {
  /*   only highlight text when using mobile */
  .highlight-main-text {
    background:rgba(216, 164, 143,0.15);
    opacity:1 !important;
  }
}